<%-include("partials/header")-%>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Phone No.</th>
    </tr>

    <% details.forEach(function(student){ %>
        <tr>
            <td>
                <%=student.name%>
            </td>
            <td>
                <%=student.email%>
            </td>
            <td>
                <%=student.DOB%>
            </td>
            <td>
                <%=student.phone%>
            </td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    <% }); %>
</table>

<%-include("partials/header")-%>