<%-include("partials/header")-%>
       
    <section id="dashboard">
        <div class="container">
            <div class="profile-pic">
                <img src="./res/dani.jpg" alt="profile picture">
            </div>
            <div class="profile-desc">
                <h2><%=detail.name%></h2>
                <h4><span>D.O.B</span> <%=detail.dob%></h4>
                <h4><%=detail.email%></h4>
                <h4><%=detail.phone%></h4>
            </div>
        </div>
    </section>

<%-include("partials/footer")-%>